@font-face {
  font-family: 'IBM VGA 8x16';
  src: url('/fonts/16px-IBM_VGA_8x16.ttf') format('truetype');
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000d11;
  overflow: hidden;
}

.terminalWrapper {
  transform-origin: center center;
}

.terminalWrapper :global(.xterm-viewport) {
  overflow: hidden !important;
}
